PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://username:password@localhost:27017/syncSpace?authSource=admin
LOG_LEVEL=debug
BCRYPT_SALT_ROUNDS=10
CORS_ORIGINS=http://localhost:5173

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_super_secret_refresh_key
JWT_REFRESH_EXPIRES_IN=7d