@import 'tailwindcss';

@theme {
  --color-primary: #5865f2;
  --color-primary-hover: #4752c4;
  --color-tertiary: #4e5058;
  --color-tertiary-hover: #6d6f78;
  --color-input: #1e1f22;
  --color-danger: #da373c;
  --color-link: #8fa2f5;
  --color-main-bg: #313338;
  --color-content-bg: #2b2d31;

  /* Added text colors for consistency if needed later */
  --color-text: #dbdee1;
  --color-text-header: #f2f3f5;
  --color-text-info: #b8b8bc;
  --color-text-muted: #949ba4;

  /* Borders */
  --color-input-border: #3d3d45;
  --color-checkbox-border: #61646e;
}